<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Gigaboulet, le blog incontournable pour les passionnés de football ! Retrouvez les dernières actualités, analyses, résultats et débats sur le monde du ballon rond. Suivez vos équipes et joueurs préférés avec des articles exclusifs et un ton authentique. Gigaboulet, là où le football se vit et se partage.">
		
		<title>
			{% block title %}GigaBoulet
			{% endblock %}
		</title>

		<!-- Stylesheets -->
		{% block stylesheets %}{% endblock %}
            {{ encore_entry_link_tags('app') }}

		<!-- JavaScripts -->
		{% block javascripts %}
            {{ encore_entry_script_tags('app') }}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% include 'composant/header.html.twig' %}

		{% block body %}{% endblock %}

		{% include 'composant/footer.html.twig' %}

	</body>
</html>
