<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Gigaboulet, le blog incontournable pour les passionnés de football ! Retrouvez les dernières actualités, analyses, résultats et débats sur le monde du ballon rond. Suivez vos équipes et joueurs préférés avec des articles exclusifs et un ton authentique. Gigaboulet, là où le football se vit et se partage.">
		    <!-- Favicon -->
    <link rel="icon" type="image/png"href="https://gigaboulet.org/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="https://gigaboulet.org/favicon/favicon.svg" />
    <link rel="shortcut icon" href="https://gigaboulet.org/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://gigaboulet.org/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="https://gigaboulet.org/favicon/site.webmanifest" />
    <title>Gigaboulet</title>
		<title>
			{% block title %}GigaBoulet
			{% endblock %}
		</title>

		<!-- Stylesheets -->
		{% block stylesheets %}{% endblock %}
            {{ encore_entry_link_tags('app') }}

		<!-- JavaScripts -->
		{% block javascripts %}
            {{ encore_entry_script_tags('app') }}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% include 'composant/header.html.twig' %}

		{% block body %}{% endblock %}

		{% include 'composant/footer.html.twig' %}

	</body>
</html>
