<footer class="bg-gray-900 text-white py-8">
	<div class="container mx-auto px-4">
		<div class="flex flex-wrap items-center justify-between">
			<div
				class="w-full md:w-1/2 mb-4 md:mb-0">
				<!-- Copyright avec animation d'apparition -->
				<p class="animate__animated animate__fadeIn text-center md:text-left">
					&copy; 2024
					<span class="font-semibold">Gigaboulet</span>
					- Le blog incontournable pour tous les passionnés de football. Tous droits réservés.
				</p>
			</div>
			<div
				class="w-full md:w-1/2 flex justify-center md:justify-end space-x-6">
				<!-- Liens avec animations -->
				<a href="{{path('app_confen')}}" class="text-white hover:text-gray-400 animate__animated animate__fadeIn animate__delay-1s" role="link" aria-label="Politique de confidentialité" title="Consultez notre politique de confidentialité">Politique de confidentialité</a>
				<a href="{{path('app_condition')}}" class="text-white hover:text-gray-400 animate__animated animate__fadeIn animate__delay-2s" role="link" aria-label="Conditions d'utilisation" title="Consultez nos conditions d'utilisation">Conditions d'utilisation</a>
				<a href="{{path('app_contact')}}" class="text-white hover:text-gray-400 animate__animated animate__fadeIn animate__delay-3s" role="link" aria-label="Contactez-nous" title="Contactez-nous pour toute question">Contactez-nous</a>
			</div>
		</div>
	</div>
</footer>
